@model MenuViewModel

@{
    ViewBag.Title = Resource.Delete;
}
@section breadcrumb{
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">@Resource.Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Menu")">@Resource.Menus</a></li>
}
<div class="container">
    <h3>@Resource.Are_sure_of_the_deleting_process :</h3>
    <h4>@(Model?.Name)</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-right">
            <input type="submit" value="@Resource.Delete" class="btn btn-danger" /> |
            @Html.ActionLink(Resource.Back, "Index")
        </div>
    }
</div>
