@model RoleViewModel
@{
    ViewData["Title"] = "تعديل الصلاحيات";
    var IsEditMode = !(string.IsNullOrWhiteSpace(Model?.Id));
}
@section breadcrumb{
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">@Resource.Home</a></li>
    <li class="breadcrumb-item"><a href="@Url.Action("Roles","Account")">الأدوار</a></li>
}
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="w-100">
    @await Html.PartialAsync("_AspValidationSummary")
    @Html.HiddenFor(a => a.Name)
    @Html.HiddenFor(a => a.Id)
    <input asp-for="Id" type="hidden" />
    <h4>@Model.Name </h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>الصلاحية</th>
                <th>الوصف</th>
                <th>المجموعة</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Permissions.Count(); i++)
            {
                <tr>
                    <td>
                        <input asp-for="Permissions[i].Value" type="hidden" />
                        <div class="form-group mr-4">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="Permissions[i].Selected" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" asp-for="Permissions[i].Selected">@Model.Permissions[i].Name</label>
                            </div>
                        </div>
                    </td>
                    <td>@Model.Permissions[i].Description</td>
                    <td>@Model.Permissions[i].GroupName</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="حفظ" class="btn btn-primary" />
        <a asp-action="Roles" class="btn btn-light">رجوع</a>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");}