@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;

@model List<RoleViewModel>
@{
    ViewBag.Title = "قائمة الأدوار";
}
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
@section breadcrumb{
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">الرئيسية</a></li>
}
<div class="row">
    <h2 class="col-8 col-sm-10">الأدوار</h2>
    <div class="col-4 col-sm-2"><a class="btn btn-outline-info btn-block" href="@Url.Action("CreateRole","Account")">دور جديد</a></div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>اسم الدور</th>
            <th>الوصف</th>
            <th>عدد المستخدمين</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.UsersCount</td>
                <td>
                    <a href="@(Url.Action("UpdateRole",null,new { Id = item.Id }))" class="btn btn-info">تعديل</a>
                    |<a href="@(Url.Action("EditRolePermissions",null,new { Id = item.Id }))" class="btn btn-primary">تحديد الصلاحيات</a>
                    |<button type="button" class="btn btn-danger delete" data-id="@item.Id"> حذف</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="DeleteRole" id="deleteForm">
                @Html.Hidden("Id")
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">حذف دور</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    هل أنت متأكد من حذف الدور!.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">نعم</button>&nbsp;
                    <button type="button" class="btn btn-light" data-dismiss="modal">لا</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
            $(".delete").click(function (event) {
                event.preventDefault();
                $("#Id").val($(this).data("id"));
                $("#delete").modal('show');
            });
        });
    </script>
}
