<!DOCTYPE html>
@{
    var lang = ViewBag.lang;
}
<html lang="@lang" dir="@(lang=="en"?"ltr":"rtl")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Resource.RaedAlnajah_contracting_company</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/fontawesome/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/uikit/dist/css/uikit@(lang=="en"?"":"-rtl").min.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/common.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @if (lang != "en")
    {
        <link rel="stylesheet" href="~/css/common-rtl.css" />
        <link rel="stylesheet" href="~/css/site-rtl.css" />
    }
</head>
<body>
    <div class="page-overlay">

    </div>
    @await Component.InvokeAsync("Navbar")
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    @if (ViewBag.HasScripts == null)
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/uikit/dist/js/uikit.min.js"></script>
        <script src="~/js/aos.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

    }
    <script>
        $(document).ready(function () {
            AOS.init({
                duration: 1000,
                delay: 50
            });
        })

    </script>
</body>
</html>
